@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-width{
    width: calc(100% - 13rem);
    padding: 30px 20px;
    margin: 0 auto;
}
@media screen and (min-width :380px) and (max-width : 500px) {
    .page-width{
        width: calc(100% - 3rem);
        padding: 12px 8px;

    }

}